openapi: 3.1.0
info:
  title: DOS AI API
  description: |
    High-performance, low-cost AI inference and agent platform for open-source and proprietary foundation models.
    Fully compatible with OpenAI and Anthropic SDKs, agent frameworks (LangChain, LlamaIndex), and developer tools (Cline, Roo Code, OpenWebUI, Cherry Studio, CC Switch).
  version: 1.0.0
  contact:
    name: DOS AI Support
    url: https://dos.ai
    email: support@dos.ai
servers:
  - url: https://api.dos.ai/v1
    description: Production API v1 Endpoint
  - url: https://api.dos.ai
    description: Production Root Endpoint (for root-level aliases)
security:
  - BearerAuth: []
paths:
  /chat/completions:
    post:
      tags:
        - Chat
      summary: Create chat completion
      description: |
        Generates a model response for the given chat conversation. Supports streaming (Server-Sent Events), function calling, tool use, JSON schema mode, and per-request cost calculation.
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Successful completion response or SSE stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                type: string
                description: "Stream of Server-Sent Events (SSE) ending with data: [DONE]"
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalError'

  /models:
    get:
      tags:
        - Models
      summary: List available models
      description: |
        Lists the currently available models on DOS AI, including model metadata, context window limits, and OpenRouter-compatible token pricing.
      operationId: listModels
      security: []
      responses:
        '200':
          description: List of available model objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResponse'
        '500':
          $ref: '#/components/responses/500InternalError'

  /models/{model_id}:
    get:
      tags:
        - Models
      summary: Retrieve model
      description: Retrieves details of a specific model by identifier.
      operationId: retrieveModel
      security: []
      parameters:
        - name: model_id
          in: path
          required: true
          description: The ID of the model to retrieve (e.g. `dos-ai`, `deepseek/deepseek-chat`)
          schema:
            type: string
      responses:
        '200':
          description: Model details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelObject'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalError'

  /key:
    get:
      tags:
        - API Keys
      summary: Check API key and quota
      description: |
        Returns metadata, limits, and usage for the caller's API key. Compatible with OpenRouter `/api/v1/key` format for Cline, Roo Code, OpenWebUI, and Cherry Studio.
      operationId: getKey
      responses:
        '200':
          description: API key metadata and remaining balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'

  /auth/key:
    get:
      tags:
        - API Keys
      summary: Check API key alias
      description: Alias of `/v1/key` for OpenRouter client compatibility.
      operationId: getAuthKey
      responses:
        '200':
          description: API key metadata and remaining balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'

  /user/balance:
    get:
      tags:
        - Billing & Balance
      summary: Query user balance (GET)
      description: |
        Returns credit balance, deposit history, spending, and status. Designed for CC Switch, DeepSeek, and NewAPI/OneAPI client compatibility.
      operationId: getUserBalance
      responses:
        '200':
          description: User balance and credit information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBalanceResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
    post:
      tags:
        - Billing & Balance
      summary: Query user balance (POST)
      description: POST variant of `/v1/user/balance` for clients that use POST requests for balance checking.
      operationId: postUserBalance
      responses:
        '200':
          description: User balance and credit information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBalanceResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'

  /credits:
    get:
      tags:
        - Billing & Balance
      summary: Query user credits
      description: Shorthand alias for `/v1/user/balance`.
      operationId: getCredits
      responses:
        '200':
          description: User balance and credit information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBalanceResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'

  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Create embeddings
      description: Generates embedding vectors representing the input text.
      operationId: createEmbeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Embeddings response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'

  /messages:
    post:
      tags:
        - Anthropic Messages
      summary: Create Anthropic message
      description: |
        Sends a structured list of input messages and returns model responses using the Anthropic Messages API format.
      operationId: createAnthropicMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
      responses:
        '200':
          description: Anthropic message response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'

  /messages/count_tokens:
    post:
      tags:
        - Anthropic Messages
      summary: Count message tokens
      description: Counts tokens for an Anthropic-formatted messages payload without charging billing fees.
      operationId: countMessageTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
      responses:
        '200':
          description: Token count result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  input_tokens:
                    type: integer
                    example: 128

  /files:
    post:
      tags:
        - Batches
      summary: Upload batch file
      description: Uploads a JSONL file for asynchronous Batch API processing (up to 100MB).
      operationId: uploadBatchFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  type: string
                  example: batch
              required:
                - file
                - purpose
      responses:
        '200':
          description: Uploaded file metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileObject'

  /files/{id}/content:
    get:
      tags:
        - Batches
      summary: Retrieve batch file content
      description: Returns the raw contents of an uploaded or output batch file.
      operationId: getFileContent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Raw file content (JSONL).
          content:
            application/jsonl:
              schema:
                type: string

  /batches:
    post:
      tags:
        - Batches
      summary: Create batch
      description: Submits a batch job for 50% discounted asynchronous processing.
      operationId: createBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input_file_id:
                  type: string
                  example: file-abc123xyz
                endpoint:
                  type: string
                  example: /v1/chat/completions
                completion_window:
                  type: string
                  example: 24h
              required:
                - input_file_id
                - endpoint
      responses:
        '200':
          description: Created batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchObject'

  /batches/{id}:
    get:
      tags:
        - Batches
      summary: Retrieve batch
      description: Retrieves the current execution status and output file IDs of a batch job.
      operationId: getBatch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Batch status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchObject'

  /batches/{id}/cancel:
    post:
      tags:
        - Batches
      summary: Cancel batch
      description: Cancels an in-progress batch job.
      operationId: cancelBatch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cancelled batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchObject'

  /images/generations:
    post:
      tags:
        - Media Generation
      summary: Generate image
      description: Generates an image using open-source or proprietary image models.
      operationId: generateImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Image generation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationResponse'

  /videos/generations:
    post:
      tags:
        - Media Generation
      summary: Generate video
      description: Submits a video generation task.
      operationId: generateVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                model:
                  type: string
                duration:
                  type: integer
                  example: 5
              required:
                - prompt
      responses:
        '200':
          description: Video task response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    example: processing

  /videos/generations/{id}:
    get:
      tags:
        - Media Generation
      summary: Get video status
      description: Polls the status and download URL of a generated video.
      operationId: getVideoStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Video generation status and result URL.

  /audio/generations:
    post:
      tags:
        - Media Generation
      summary: Generate audio/music
      description: Generates audio or music from a prompt.
      operationId: generateAudio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                model:
                  type: string
              required:
                - prompt
      responses:
        '200':
          description: Audio generation result.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: dos_sk_...
      description: 'Your DOS AI API Key (starts with dos_sk_). Pass in the Authorization header: Bearer dos_sk_...'

  schemas:
    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: ID of the model to use (e.g. `dos-ai`, `deepseek/deepseek-chat`, `qwen/qwen-2.5-72b-instruct`).
          example: dos-ai
        messages:
          type: array
          description: A list of messages comprising the conversation so far.
          items:
            $ref: '#/components/schemas/ChatMessage'
        temperature:
          type: number
          description: Sampling temperature between 0 and 2.
          default: 1.0
          example: 0.7
        top_p:
          type: number
          description: Nucleus sampling probability.
          default: 1.0
          example: 0.95
        max_tokens:
          type: integer
          description: The maximum number of tokens to generate.
          example: 2048
        stream:
          type: boolean
          description: If set to true, partial message deltas will be sent as Server-Sent Events.
          default: false
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: Up to 4 sequences where the API will stop generating further tokens.
        frequency_penalty:
          type: number
          description: Number between -2.0 and 2.0. Positive values penalize new tokens based on frequency.
          default: 0.0
        presence_penalty:
          type: number
          description: Number between -2.0 and 2.0. Positive values penalize new tokens based on presence.
          default: 0.0
        response_format:
          type: object
          description: 'An object specifying the output format (e.g. {"type": "json_object"}).'
        tools:
          type: array
          description: A list of tools the model may call.
          items:
            type: object
        tool_choice:
          description: Controls which (if any) tool is called by the model.

    ChatMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum: [system, user, assistant, tool]
          description: The role of the messages author.
        content:
          oneOf:
            - type: string
            - type: array
              items:
                type: object
          description: The contents of the message.
        name:
          type: string
          description: An optional name for the participant.
        tool_calls:
          type: array
          description: The tool calls generated by the model.
          items:
            type: object

    ChatCompletionResponse:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
        - usage
      properties:
        id:
          type: string
          example: chatcmpl-9abcdef123456
        object:
          type: string
          example: chat.completion
        created:
          type: integer
          example: 1711000000
        model:
          type: string
          example: dos-ai
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
        usage:
          $ref: '#/components/schemas/UsageInfo'

    ChatCompletionChoice:
      type: object
      required:
        - index
        - message
        - finish_reason
      properties:
        index:
          type: integer
          example: 0
        message:
          $ref: '#/components/schemas/ChatMessage'
        finish_reason:
          type: string
          enum: [stop, length, tool_calls, content_filter]
          example: stop

    UsageInfo:
      type: object
      required:
        - prompt_tokens
        - completion_tokens
        - total_tokens
      properties:
        prompt_tokens:
          type: integer
          example: 120
        completion_tokens:
          type: integer
          example: 45
        total_tokens:
          type: integer
          example: 165
        cost:
          type: number
          description: Actual cost of the request in USD (rounded to 6 decimal places).
          example: 0.000248

    ModelListResponse:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/ModelObject'

    ModelObject:
      type: object
      required:
        - id
        - object
        - created
        - owned_by
      properties:
        id:
          type: string
          example: deepseek/deepseek-chat
        object:
          type: string
          example: model
        created:
          type: integer
          example: 1711000000
        owned_by:
          type: string
          example: deepseek
        context_length:
          type: integer
          example: 131072
        pricing:
          $ref: '#/components/schemas/ModelPricing'

    ModelPricing:
      type: object
      required:
        - prompt
        - completion
      properties:
        prompt:
          type: string
          description: Price per prompt token in USD as a string (OpenRouter format).
          example: "0.00000014"
        completion:
          type: string
          description: Price per completion token in USD as a string (OpenRouter format).
          example: "0.00000028"
        request:
          type: string
          description: Fixed price per request in USD if applicable.
          example: "0"
        image:
          type: string
          description: Price per image if applicable.
          example: "0"

    KeyResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - label
            - usage
            - is_free_tier
          properties:
            label:
              type: string
              description: Friendly label or name of the API key.
              example: Production Backend Key
            usage:
              type: number
              description: Total USD spent by this account.
              example: 14.25
            limit:
              type: number
              nullable: true
              description: Hard spending limit in USD (null for pay-as-you-go).
              example: null
            limit_remaining:
              type: number
              description: Remaining available balance in USD.
              example: 35.75
            is_free_tier:
              type: boolean
              description: Indicates if the account is on a free tier or exhausted.
              example: false
            rate_limit:
              type: object
              properties:
                requests:
                  type: integer
                  example: 500
                interval:
                  type: string
                  example: 10s

    UserBalanceResponse:
      type: object
      required:
        - is_active
        - is_available
        - balance
        - currency
      properties:
        is_active:
          type: boolean
          description: Whether the account has positive balance and can make calls.
          example: true
        is_available:
          type: boolean
          description: DeepSeek-compatible availability flag.
          example: true
        invalid_message:
          type: string
          description: Error message when balance is exhausted.
          example: ""
        balance:
          type: number
          description: Current available balance in USD.
          example: 35.75
        currency:
          type: string
          example: USD
        unit:
          type: string
          example: USD
        total_deposited:
          type: number
          example: 50.00
        total_spent:
          type: number
          example: 14.25
        plan:
          type: string
          example: pay_as_you_go
        user_id:
          type: string
          example: usr_abc123xyz
        data:
          type: object
          properties:
            total_credits:
              type: number
              example: 50.00
            total_usage:
              type: number
              example: 14.25
            remaining_credits:
              type: number
              example: 35.75
        balance_infos:
          type: array
          items:
            type: object
            properties:
              currency:
                type: string
                example: USD
              total_balance:
                type: string
                example: "35.75"
              granted_balance:
                type: string
                example: "0.00"
              topped_up_balance:
                type: string
                example: "35.75"

    EmbeddingsRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
          example: text-embedding-3-small
        input:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        encoding_format:
          type: string
          enum: [float, base64]
          default: float

    EmbeddingsResponse:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                example: embedding
              index:
                type: integer
                example: 0
              embedding:
                type: array
                items:
                  type: number
        model:
          type: string
          example: text-embedding-3-small
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
              example: 8
            total_tokens:
              type: integer
              example: 8

    AnthropicMessagesRequest:
      type: object
      required:
        - model
        - messages
        - max_tokens
      properties:
        model:
          type: string
          example: claude-3-5-sonnet-20241022
        messages:
          type: array
          items:
            type: object
        max_tokens:
          type: integer
          example: 1024
        system:
          type: string
        stream:
          type: boolean
          default: false

    AnthropicMessagesResponse:
      type: object
      properties:
        id:
          type: string
          example: msg_01XFDUDYJgAACrbtxRJaNYVx
        type:
          type: string
          example: message
        role:
          type: string
          example: assistant
        content:
          type: array
          items:
            type: object
        model:
          type: string
        usage:
          type: object
          properties:
            input_tokens:
              type: integer
            output_tokens:
              type: integer

    FileObject:
      type: object
      properties:
        id:
          type: string
          example: file-abc123
        object:
          type: string
          example: file
        bytes:
          type: integer
          example: 1048576
        created_at:
          type: integer
          example: 1711000000
        filename:
          type: string
          example: batch_input.jsonl
        purpose:
          type: string
          example: batch

    BatchObject:
      type: object
      properties:
        id:
          type: string
          example: batch_abc123
        object:
          type: string
          example: batch
        endpoint:
          type: string
          example: /v1/chat/completions
        input_file_id:
          type: string
          example: file-abc123
        status:
          type: string
          enum: [validating, in_progress, completed, failed, expired, cancelling, cancelled]
          example: in_progress
        output_file_id:
          type: string
          nullable: true
          example: file-out456
        error_file_id:
          type: string
          nullable: true
        created_at:
          type: integer
        completed_at:
          type: integer
          nullable: true

    ImageGenerationRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          example: A cute baby sea otter floating on water in impressionist oil painting style
        model:
          type: string
          example: flux-1-schnell
        n:
          type: integer
          default: 1
        size:
          type: string
          enum: [256x256, 512x512, 1024x1024]
          default: 1024x1024
        response_format:
          type: string
          enum: [url, b64_json]
          default: url

    ImageGenerationResponse:
      type: object
      properties:
        created:
          type: integer
          example: 1711000000
        data:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              b64_json:
                type: string

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
          properties:
            message:
              type: string
              example: Invalid API key provided.
            type:
              type: string
              example: invalid_request_error
            param:
              type: string
              nullable: true
            code:
              type: string
              nullable: true

  responses:
    400BadRequest:
      description: Invalid request parameters or ill-formed JSON body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    401Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    402PaymentRequired:
      description: Insufficient credit balance. Top up at app.dos.ai.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    404NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    429RateLimit:
      description: Rate limit or concurrency limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    500InternalError:
      description: Internal gateway or upstream error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
